<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743283522973-br18bp94nd3bbbkff1vp2rv5hpj2c1vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743283522973-br18bp94nd3bbbkff1vp2rv5hpj2c1vk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>743283522973-jfplf0ptlru8u8i0v8c3md0de6jgakbf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEQk4EPQj2SfgBb9F2RJqaaRvgg0aECRY</string>
	<key>GCM_SENDER_ID</key>
	<string>743283522973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.uni-mannheim.mtp.moveit</string>
	<key>PROJECT_ID</key>
	<string>moveit-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>moveit-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743283522973:ios:6ba0c1522ed82e3c100374</string>
	<key>DATABASE_URL</key>
	<string>https://moveit-2019.firebaseio.com</string>
</dict>
</plist>