<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Add Activity</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                <div>
                    <div class="ion-padding-horizontal">
                        <h3>Let's work out!</h3>
                    </div>
                    <ion-item>
                        <ion-label>Activity type</ion-label>
                        <ion-select [(ngModel)]="activity.type" placeholder="Select One" disabled="false">
                            <ion-select-option *ngFor="let type of types">{{type}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label>Intensity*</ion-label>
                        <ion-select [(ngModel)]="activity.intensity" placeholder="Select One">
                            <ion-select-option *ngFor="let intensity of intensities">{{intensity}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <div class="info-message">
                        <a (click)="routeToInfoSingle()">*more info on intensities</a>
                    </div>

                    <div class="ion-padding-horizontal">
                        <h4>Track your time!</h4>
                    </div>
                    <div class="ion-align-items-center">
                        <p>
                            {{elapsed.h}}:{{elapsed.m}}:{{elapsed.s}}<br/>

                            <ng-container *ngIf="counter > 0">
                                <ion-icon color="primary" name="close-circle-outline" (click)="stopTimer()"></ion-icon>
                            </ng-container>

                            <ng-container *ngIf="overallTimer == false; else running">
                                <ng-container *ngIf="counter > 0">
                                    <ion-icon color="primary" name="play-circle-outline" (click)="startAgain()"></ion-icon>
                                </ng-container>
                                <ng-container *ngIf="counter === 0">
                                    <ion-icon color="primary" name="play-circle" (click)="startAgain()"></ion-icon>
                                </ng-container>
                            </ng-container>

                            <ng-template #running>
                                <ion-icon color="primary" name="pause-circle-outline" (click)="pauseTimer()"></ion-icon>
                            </ng-template>

                            <ng-container *ngIf="counter > 0">
                                <ion-icon color="primary" name="checkmark-circle" (click)="addActivity()"></ion-icon>
                            </ng-container>
                        </p>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>



  

