<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Goals</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="goalPromise | async as goals">
        <ion-card>
            <ion-card-header>
                <ion-card-title class="ion-text-center">Daily Goal</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>Set your goal for {{goals[0].duration}} active minutes!
                </p>
                <ion-item>
                    <ion-range min="0" max="120" pin color="primary" [(ngModel)]="goals[0].target">
                        <ion-icon slot="start" size="small" name="walk"></ion-icon>
                        <ion-icon slot="end" name="walk"></ion-icon>
                    </ion-range>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>Goal (minutes)</ion-label>
                    <ion-input type="number" slot="end" class="ion-text-right"
                               [(ngModel)]="goals[0].target"></ion-input>
                </ion-item>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title class="ion-text-center">Weekly Goal</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>Set your goal for {{goals[1].duration}} active minutes! WHO recommends 300 min, but 150 min as a minimum.
                </p>

                <ion-item>
                    <ion-range min="0" max="600" pin color="secondary" [(ngModel)]="goals[1].target">
                        <ion-icon slot="start" size="small" name="walk"></ion-icon>
                        <ion-icon slot="end" name="walk"></ion-icon>
                    </ion-range>
                </ion-item>

                <ion-item lines="none">
                    <ion-label>Goal (minutes)</ion-label>
                    <ion-input type="number" slot="end" class="ion-text-right"
                               [(ngModel)]="goals[1].target"></ion-input>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>

    <section>
        <ion-button slot="end" color="secondary" expand="block" (click)="save()">Save Goals</ion-button>
    </section>
</ion-content>
