<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Social Feed</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="">
    <ion-card>
        <ion-item lines="none">
            <h2>What's up?</h2>
        </ion-item>
        <ion-item>
            <p class="small">Write your own post. You and ask others to meet for a run or another activity for
                example.
            </p>
        </ion-item>

        <form>
            <ion-item>
                <ion-input name="post" type="text" [(ngModel)]="postText"
                           placeholder="Your post message">
                </ion-input>
                <ion-icon name="send" id="icons" class="ion-float-right" (click)="newPost(postText)"></ion-icon>
            </ion-item>
        </form>
    </ion-card>


    <ion-card *ngFor="let post of (displayedPosts | async)">
        <ion-item>
            <ion-avatar slot="start">
                <img src="{{post.profilePictureUrl }}" (click)="viewProfile(post.user)">
                <!--img [src]="post.image"-->
            </ion-avatar>
            <ion-label id="{{post.id}}">
                <h2 (click)="viewProfile(post.user)">{{ post.title }}</h2>
                <p (click)="viewProfile(post.user)">
                    by {{ post.username }} at
                    <!--ion-icon name="time"></ion-icon-->
                    {{ post.createdAt | date:'HH:mm on dd. MMM' }}
                </p>
            </ion-label>
        </ion-item>

        <ion-row *ngIf="(userObservable | async)" class="ion-justify-content-start">
            <ion-col>
                <ng-container *ngIf="post.likes.includes(user.id); else running">
                    <ion-button id="like" color="secondary" type="button" (click)='like(post.id)'>
                        <ion-icon name="thumbs-up" id="icons"></ion-icon>
                        {{post.likes?.length || 0}} Likes
                    </ion-button>
                </ng-container>
                <ng-template #running>
                    <ion-button id="like" color="primary" type="button" (click)='like(post.id)'>
                        <ion-icon name="thumbs-up" id="icons"></ion-icon>
                        {{post.likes?.length || 0}} Likes
                    </ion-button>
                </ng-template>
            </ion-col>

            <ion-col>
                <ion-button id="comment" type="button">
                    <ion-icon name="chatbubbles" id="icons"></ion-icon>
                    {{post.comments?.length || 0}} Comments
                </ion-button>
            </ion-col>
        </ion-row>
        <!--<img src="../assets/Laufschuhe.jpg">-->

        <ion-item *ngIf="post.content">
            {{post.content}}
        </ion-item>


        <div *ngIf="post.comments?.length != 0">
            <ion-list-header>
                Comments
            </ion-list-header>
            <div class="ion-padding-horizontal">
                <div *ngFor="let c of post.comments; let i = index">
                    <ion-item *ngIf="i < (post.commentPage * 3)" class="comments">
                        <ion-col size="8"><p class="ion-no-margin">{{c.text}}</p></ion-col>
                        <ion-col size="4">
                            <p class="ion-text-right ion-no-margin">{{ c.user}},<br/>
                                {{ c.createdAt | date:'H:mm, d.M.'}}</p>
                        </ion-col>
                    </ion-item>
                </div>
                <p class="more" id="showAll" (click)="nextCommentPage(post)">Show all comments</p>
            </div>
            <!--
              <ion-item>
              <ion-label><p id="allComments">all comments</p></ion-label>
            </ion-item>
            -->
        </div>
        <ion-row>
            <form>
                <ion-item id="form">
                    <ion-input name="comment" type="text" [(ngModel)]="commentText[post.id]"
                               placeholder="Your comment..."></ion-input>
                    <ion-icon id="icons" name="send" (click)="newComment(post, commentText[post.id])"></ion-icon>
                </ion-item>
            </form>
        </ion-row>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more activities...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

